* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
}

body {
    height: 90vh;
    width: 100vw;
    background-color: black;
}

.container {
    height: 100%;
    width: 100%;
    align-items: center;
    margin: 2rem 0;
    background-color: white;
    color: black;
}

.left-container {
    height: 100%;
    width: 40%;
    background-image: url("./images/Palm\ leaves.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
}

.logo-container {
    width: 100%;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.7);
    margin-top: -10rem;
}

.left-container h1 {
    color: white;
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
}

.right-container {
    width: 60%;
    height: 100%;
    background-color: aliceblue;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bold {
    line-height: 1.5rem;
    padding: 6rem 3rem 2rem;
    font-size: 1rem;
    font-weight: 700;
}

.form {
    background-color: white;
    display: grid;
    justify-content: flex-start;
    grid-template-rows: 40px 40px 40px;
    grid-template-columns: 200px 200px;
    padding: 2rem 3rem;
    gap: 2rem;
    box-shadow: 0 5px 14px #dcdcdc;
}

button {
    margin: 1rem 3rem;
    font-size: 1.2rem;
    background-color: #757575;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
}

button:active {
    box-shadow: 0 5px 5px #dcdcdc;
}

a {
    text-decoration: none;
    color: #757575;
}

.form-container > p {
    padding-left: 3rem;
}